<div class="row jumbotron create-perch-page valign-wrapper">
  <div class="col l6 offset-l3 m8 offset-m2 s10 offset-s1 valign">
    <div class="row">
      <div id="create-perch-form" class="col s12">
        <div class="row">
          <div class="col s12 grey darken-2 yellow-text text-accent-3 z-depth-3 center-form-banner">
            <h3 class="center-align">Create a Perch</h3>
            <p>Do you have a restaurant or other partially idle space? Do you want to share it with professionals and make some money? List your Perch here!</p>
            <p>Once registered, we'll set up dates when the Perch is available.</p>
          </div>
          <form class="col s12 white z-depth-3 center-form">
            <div class="row">
              <div class="input-field col s12">
                <input id="perch-name" type="text">
                <label for="perch-name">Perch Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="perch-address" type="text">
                <label for="perch-address">Address</label>
              </div>
            </div>
            <div class="row center-align">
              <button id="create-perch-submit" class="btn-large waves-effect yellow accent-3 grey-text text-darken-2" type="submit" name="create-perch">Create this Perch!</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
