<div class="row jumbotron welcome-page valign-wrapper">
  <div class="col m8 offset-m2 s10 offset-s1 valign">
    <h5 class="center-align yellow-text">Be More Productive...</h5>
    <h1 class="center-align white-text">Find Your Perch</h1>
    <div class="center-align">
      <a class="waves-effect btn-large yellow accent-3 grey-text text-darken-2 login">Log In / Sign Up</a>
    </div>
  </div>
</div>
