<div class="row jumbotron perch-admin-page valign-wrapper">
  <div class="col s10 offset-s1 valign">
    <div class="row white z-depth-3">
      <div class="grey darken-2 yellow-text text-accent-3 col s12 center-banner">
        <h4 class="left">{{name}}</h4>
        <h4 class="right">{{address}}</h4>
      </div>

      <div class="grey-text text-darken-2 col s12 m6">
        <div id="availInfo"></div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s8">
                <input type="date" class="datepicker waves-effect" placeholder="Choose a Date" id="pickDate">
              </div>
              <div class="input-field col s12">
                <button id="submitDate" type="submit" class="btn yellow accent-3 grey-text text-darken-2">Add Date</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="grey-text text-darken-2 col s12 m6">
        <div id="bookedInfo"></div>
      </div>

    </div>
  </div>
</div>
