<div class="row jumbotron browse-page valign-wrapper">
  <div class="col s10 offset-s1 valign">
    <div class="row grey darken-2 yellow-text text-accent-3 z-depth-3 no-bottom-margin">
      <div class="col s12 center-align">
        <h3>Book a Perch!</h3>
      </div>
    </div>
    <div id="perchList" class="row grey-text text-darken-2">
    </div>
  </div>
</div>
