<div class="navbar-fixed">
  <nav class="grey darken-2">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo" id="home"><img class="hide-on-small-only" src="img/perch_64.png"><img class="hide-on-med-and-up" src="img/perch_56.png"></a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down" id="top-nav">
        </ul>
        <ul class="side-nav yellow" id="mobile-nav">
        </ul>
      </div>
    </div>
  </nav>
 </div>
