<div class="row">
  <div class="col s12">
    <table class="white z-depth-3 grey-text text-darken-2 hoverable">
      <thead>
        <tr>
          <th data-field="date">Date</th>
          <th data-field="name">Perch</th>
          <th data-field="address">Location</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
  </div>
</div>
