<div class="card">
  <div class="card-content yellow accent-3">
    <span class="card-title grey-text text-darken-2"><h4>{{name}}</h4></span>
    <h6 class="grey-text text-darken-2">{{address}}</h6>
    <ul class="collection">
      <li class="collection-item">Available<span class="badge">{{count availDates}}</span></li>
      <li class="collection-item">Booked<span class="badge">{{count bookDates}}</span></li>
    </ul>
  </div>
  <div class="card-action grey darken-2">
    <a class="yellow-text text-accent-3" href="#">View Details</a>
  </div>
</div>
